adal==1.2.7
aiohappyeyeballs==2.4.4
aiohttp==3.11.11
aiosignal==1.3.2
ansible-builder==3.1.0
ansible-compat==25.1.1
ansible-core==2.18.2
ansible-creator==25.0.0
ansible-dev-environment==25.1.0
ansible-lint==25.1.1
ansible-navigator==25.1.0
ansible-runner==2.4.0
ansible-sign==0.1.1
anyio==4.8.0
applicationinsights==0.11.10
argcomplete==3.3.0
attrs==25.1.0
azure-cli-core==2.64.0
azure-cli-telemetry==1.1.0
azure-common==1.1.28
azure-containerregistry==1.2.0
azure-core==1.31.0
azure-identity==1.19.0
azure-iot-hub==2.6.1
azure-keyvault==4.2.0
azure-keyvault-certificates==4.9.0
azure-keyvault-keys==4.10.0
azure-keyvault-secrets==4.9.0
azure-mgmt-apimanagement==4.0.1
azure-mgmt-authorization==4.0.0
azure-mgmt-automation==1.1.0b4
azure-mgmt-batch==17.3.0
azure-mgmt-cdn==13.1.1
azure-mgmt-compute==33.0.0
azure-mgmt-containerinstance==10.1.0
azure-mgmt-containerregistry==10.3.0
azure-mgmt-containerservice==32.1.0
azure-mgmt-core==1.4.0
azure-mgmt-cosmosdb==10.0.0b3
azure-mgmt-datafactory==9.0.0
azure-mgmt-devtestlabs==10.0.0b2
azure-mgmt-dns==8.1.0
azure-mgmt-eventhub==11.1.0
azure-mgmt-hdinsight==9.1.0b1
azure-mgmt-iothub==3.0.0
azure-mgmt-keyvault==10.3.1
azure-mgmt-loganalytics==13.0.0b7
azure-mgmt-managedservices==7.0.0b2
azure-mgmt-managementgroups==1.1.0b2
azure-mgmt-marketplaceordering==1.2.0b2
azure-mgmt-monitor==6.0.2
azure-mgmt-network==28.0.0
azure-mgmt-notificationhubs==8.1.0b1
azure-mgmt-nspkg==3.0.2
azure-mgmt-privatedns==1.1.0
azure-mgmt-rdbms==10.2.0b17
azure-mgmt-recoveryservices==3.0.0
azure-mgmt-recoveryservicesbackup==9.1.0
azure-mgmt-redis==14.4.0
azure-mgmt-resource==23.2.0
azure-mgmt-search==9.2.0b2
azure-mgmt-servicebus==8.2.1
azure-mgmt-sql==4.0.0b19
azure-mgmt-storage==21.2.1
azure-mgmt-trafficmanager==1.1.0
azure-mgmt-web==7.3.1
azure-nspkg==3.0.2
azure-storage-blob==12.23.0b1
bcrypt==4.2.1
bindep==2.12.0
black==25.1.0
bracex==2.5.post1
cachetools==5.5.1
certifi==2024.12.14
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.1
click==8.1.8
click-help-colors==0.9.4
colorama==0.4.6
cryptography==44.0.0
Deprecated==1.2.18
distlib==0.3.9
distro==1.9.0
enrich==1.2.7
execnet==2.1.1
filelock==3.17.0
frozenlist==1.5.0
future==1.0.0
gitdb==4.0.11
GitPython==3.1.41
h11==0.14.0
h2==4.1.0
hpack==4.1.0
httpcore==1.0.7
httpx==0.28.1
humanfriendly==10.0
hyperframe==6.1.0
idna==3.10
importlib_metadata==8.5.0
iniconfig==2.0.0
isodate==0.7.2
Jinja2==3.1.5
jmespath==1.0.1
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
knack==0.11.0
lockfile==0.12.2
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mdurl==0.1.2
microsoft-kiota-abstractions==1.9.1
microsoft-kiota-authentication-azure==1.9.1
microsoft-kiota-http==1.9.1
microsoft-kiota-serialization-form==1.9.1
microsoft-kiota-serialization-json==1.9.1
microsoft-kiota-serialization-multipart==1.9.1
microsoft-kiota-serialization-text==1.9.1
molecule==25.2.0
msal==1.30.0
msal-extensions==1.2.0
msgraph-core==1.2.1
msgraph-sdk==1.6.0
msrest==0.7.1
msrestazure==0.6.4.post1
multidict==6.1.0
mypy-extensions==1.0.0
netaddr==1.3.0
oauthlib==3.2.2
onigurumacffi==1.4.1
opentelemetry-api==1.29.0
opentelemetry-sdk==1.29.0
opentelemetry-semantic-conventions==0.50b0
packaging==24.2
paramiko==3.5.0
Parsley==1.3
pathspec==0.12.1
pbr==6.1.0
pexpect==4.9.0
pkginfo==1.12.0
platformdirs==4.3.6
pluggy==1.5.0
portalocker==2.10.1
propcache==0.2.1
psutil==6.1.1
ptyprocess==0.7.0
pycparser==2.22
Pygments==2.19.1
PyJWT==2.10.1
PyNaCl==1.5.0
pyOpenSSL==25.0.0
pyproject-api==1.9.0
PySocks==1.7.1
pytest==8.3.4
pytest-ansible==25.1.0
pytest-xdist==3.6.1
python-daemon==3.1.2
python-dateutil==2.9.0.post0
python-gnupg==0.5.4
PyYAML==6.0.2
referencing==0.36.2
requests==2.32.3
requests-oauthlib==2.0.0
resolvelib==1.0.1
rich==13.9.4
rpds-py==0.22.3
ruamel.yaml==0.18.10
ruamel.yaml.clib==0.2.12
six==1.17.0
smmap==5.0.1
sniffio==1.3.1
std-uritemplate==2.0.1
subprocess-tee==0.4.2
tabulate==0.9.0
textfsm==1.1.3
tox==4.24.1
tox-ansible==25.1.0
ttp==0.9.5
typing_extensions==4.12.2
tzdata==2025.1
uamqp==1.6.11
urllib3==2.3.0
virtualenv==20.29.1
wcmatch==10.0
wrapt==1.17.2
xmltodict==0.14.2
yamllint==1.35.1
yarl==1.18.3
zipp==3.21.0
